{%extends 'base.html' %}

{%block title%}
	Вход
{%endblock%}

{%block content%}
<div class="span5">
	<h4 class="title"><span class="text"><strong>Login</strong> Form</span></h4>
	<form action="." method="post">
		{% csrf_token %}
		<input type="hidden" name="next" value="/">
		<fieldset>
			<div class="control-group">
				<label class="control-label">{{form.username.label}}</label>
				<div class="controls">
					{{form.username}}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">{{form.password.label}}</label>
				<div class="controls">
					{{form.password}}
				</div>
			</div>
			<div class="control-group">
				<input tabindex="3" class="btn btn-inverse large" type="submit" value="Войти в аккаунт">
				<hr>
			</div>
			<div class="control-group">
				<p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
			</div>
		</fieldset>
	</form>
</div>

{%endblock%}