{%extends 'base.html'%}
<title>
{%block title%}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{%endblock%}
</title>

{%block content %}
			<div class="span9">
				<ul class="thumbnails listing-products">
					{%for product in products%}
						<li class="span3">
							<div class="product-box">
								<span class="sale_tag"></span>
								<a href="{{product.get_absolute_url}}"><img alt="NO IMAGE" src="{{product.image.url}}"></a><br/>
								<a href="{{product.get_absolute_url}}" class="title">{{product.name}}</a><br/>
								<a href="#" class="category">{{product.category}}</a>
								<p class="price">${{product.price}}</p>
							</div>
						</li>
					{%endfor%}
				</ul>
				<hr>
				<div class="pagination pagination-small pagination-centered">
					<ul>
						<li><a href="#">Prev</a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">Next</a></li>
					</ul>
				</div>
			</div>

{%endblock%}